body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.user {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.user a {
    text-decoration: none;
    color: #007bff;
}

.user a:hover {
    text-decoration: underline;
}

#delete-link {
    color: #dc3545;
    text-decoration: none;
    cursor: pointer;
}

#delete-link:hover {
    text-decoration: underline;
}

.home-link {
    text-decoration: none;
    color: #007bff;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

#edit-delete-wrapper{
    display: flex;
    width: 7rem;
    justify-content: space-between;
}

.invisible {
    display:none;
}

.edit-form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info-wrapper{
    padding: 0;
    width: 17rem;
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

#submit-btn{
    background-color: #007bff;
    width: 7rem;
    padding: 10px;
    border-radius: 30px;
    border: none;
}

