<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kreiranje korisnika</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/create_user.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/static/JS/create_user.js" defer></script>

</head>
<body>
<form id="create-user-frm" action="/users" method="post">
    <h1>Create new user</h1>
    <div class="container">
        <label for="name">Username</label>
        <input type="text" name="username" id="name" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button id="submit-btn" type="submit">Create User</button>
    </div>
    <a href="/home" class="home-link">
        <button type="button" class="custom-button">Home</button>
    </a>
    <!--    <div class="error-message">{{ error_message }}</div>-->

    <div class="popup" id="errorPopup">
        <div class="popup-content">
            <span class="close" onclick="closePopup('errorPopup')">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>

    <div class="popup" id="successPopup">
        <div class="popup-content">
            <span class="close" onclick="closePopup('successPopup')">&times;</span>
            <p id="successMessage">Korisnik kreiran: {{ created_username }}</p>
        </div>
    </div>


</form>
</body>
</html>