<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Korisnici</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/show_users.css') }}">
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
<script type="module" src="/static/JS/delete_user.js" defer></script>
<script type="module" src="/static/JS/edit_user.js" defer></script>

<script type="module" src="/static/JS/search_users.js" defer></script>
<body>
<div class="container">
    <div class="top-right">
        <a href="/home" class="home-link">Home</a>
    </div>
    <h1>Users</h1>
    <form action="/search-users" method="GET" id="search-form">
        <div class="input-container">
            <label for="name">Ime:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="button-container">
            <button type="submit" id="pretrazi">Pretraži</button>
            <button type="button" id="show-all-btn" name="prikaz2">
                <a href="/users"> Prikaži sve</a>
            </button>
        </div>
    </form>
    <div class="user-list">
        {% for user in users %}
        <div class="user">
            <span id="{{user.id}}" class="username">{{ user.username }}</span>
            <div id="edit-delete-wrapper">
                <a id="edit-link">Edit</a>
                <a id="delete-link" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
            </div>
        </div>
        <div id="edit-form-wrapper" class="invisible">
            <form id="edit-form-{{user.id}}" class="edit-form">
                <div class="info-wrapper">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" value="{{user.username}}"><br>
                </div>
                <div class="info-wrapper">
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email" value="{{user.email}}"><br>
                </div>
                <input id="submit-btn" type="submit" value="Submit">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
